<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="Account">
    <setting id="username" type="text" label="Username" default=""/>
    <setting id="password" type="text" option="hidden" label="Password" default=""/>
    <!-- Actions -->
    <setting id="logout" type="action" label="Logout" action="RunPlugin(plugin://plugin.video.timvision/?action=logout)" option="close"/>
  </category>
  <category label="Contenuti">
    <setting id="unique_season" type="bool" label="Spiana le serie con un'unica stagione" value="true" default="true"/>
    <setting id="prefer_hd" type="bool" label="Preferisci HD" value="true" default="true"/>
  </category>
  <category label="Debug">
    <setting id="abilita_log_desktop" label="Log file su desktop" type="bool" value="false" default="false"/>
    <setting id="inputstream_kodi17" label="Modalità Kodi 17.4" type="bool" value="true" default="true"/>
    <!-- Hidden -->
    <setting id="timvision_service_port" value="8001" visible="false"/>
  </category>
</settings>
